h1 + div.language-text pre,
h1 + div.language-yaml pre {
	float: right;
	width: 50%;
	margin-left: 30px;
}

h1 + div.language-text pre + p,
h1 + div.language-yaml pre + p {
	width: 50%;
}

h4 {
	clear: both;
}

h4 {
	font-size: 1.3em;
	padding: 10px 0;
}

div.language-yaml.left,
div.language-text.left {
	float: left;
	width: 50%;
	margin-right: 10px;
}

div.language-yaml.right,
div.language-text.left {
	width: 45%;
}

div.language-text pre {
	display: flex;
	justify-content: center;
  align-items: center;
	min-height: 260px;
}

div.language-text pre code {
	font-size: 0.82em;
	display: inline-block; 
	font-family: Menlo, "Lucida Console", Monaco, monospace;
	line-height: 1.30em;
}

.nav {
	clear: both;
}
.nav .next {
	float: right;
}