h1 + pre, h1 + div.language-yaml pre {
	float: right;
	width: 50%;
}

h1 + pre + p, h1 + div.language-yaml pre + p {
	width: 50%;
}

h4 {
	clear: both;
}

h4 {
	font-size: 1.3em;
	padding: 10px 0;
}

.language-ascii {
	font-size: 0.82em;
	display: inline-block; 
	font-family: Menlo, "Lucida Console", Monaco, monospace;
	line-height: 1.30em;
}

.nav {
	clear: both;
}
.nav .next {
	float: right;
}

.service p:first-of-type {
	height: 50px;
}