pre {
	width: 420px;
	height: 340px;
	float: right;
}

.language-ascii {
	font-size: 0.93em;
	display: inline-block; 
	font-family: Menlo, "Lucida Console", Monaco, monospace;
	line-height: 1.33em;
}

.nav {
	clear: both;
}
.nav .next {
	float: right;
}

.service p:first-of-type {
	height: 50px;
}